<ion-header>
  <ion-toolbar>
    <div class="title">
      <ion-title>Usuarios</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
  <div id="container">
    <div id="options-container">
      <div>
        <!--
        <ion-button expand="block" class="button-text-color-primary" type="button"
          [routerLink]="['/registration']">Nuevo usuario
        </ion-button>
        -->
        <ion-button expand="block" class="button-text-color-primary" type="button" [routerLink]="['/home/users/form']">Nuevo
          usuario
        </ion-button>
        <ion-button expand="block" class="button-text-color-primary" type="button"
          [routerLink]="['/home/users/list']">Lista de usuarios
        </ion-button>
      </div>
      <div>
        <ion-button expand="block" color="light" class="button-text-color-primary" type="button"
          [routerLink]="['/home']">Menu principal
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
