<ion-header>
  <ion-toolbar>
    <div class="title">
      <ion-title>Registro</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
  <div id="container">
    <form [formGroup]="registrationForm">
      <ion-list>
        <div class="form-section">
          <ion-input placeholder="usuario" class="input" clearInput formControlName="username"></ion-input>
        </div>
        <div class="form-section">
          <ion-input placeholder="contraseña" type="password" class="input" clearInput formControlName="password">
          </ion-input>
        </div>
        <div class="form-section">
          <ion-button expand="block" class="button-text-color-primary" type="button" [disabled]="!registrationForm.valid" (click)="register()">Registrar</ion-button>
        </div>
        <div class="form-section">
          <!--<ion-button expand="block" color="light" class="button-text-color-primary" type="button" [routerLink]="['/login']">Regresar</ion-button>-->
          <ion-button expand="block" color="light" class="button-text-color-primary" type="button" [routerLink]="['/home/users']">Regresar</ion-button>
        </div>
      </ion-list>
    </form>
  </div>

</ion-content>
